        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="/js/contact.js"></script>
        <script type="text/javascript" src="{{site.url}}/js/nix.jq.min.js" async defer></script>
        <script type="text/javascript">
            function loadStyle(){var linkElement=document.createElement("link");linkElement.rel="stylesheet";linkElement.href="https://cogs.dev/css/light.css";document.head.appendChild(linkElement);}
        </script>
    </body>
</html>
